/apache-james-2.3.2
/apache-maven-3.0.5
.project
/env.settings*
/ruby
/bin
/closure-templates-read-only
/closure-file
/closure-library-read-only
.classpath
.settings
.DS_Store
/build.local.properties
/target
pom.xml.versionsBackup
