/apache-tomcat-5.5.31
/apache-tomcat-5.5.31-generated
/apache-tomcat-7.0.22
/apache-james-2.3.2
/apache-maven-2.2.1
/apache-maven-3.0.3
.project
/env.settings*
/ruby
/bin
/closure-templates-read-only
/closure-file
/closure-library-read-only
.classpath
/.settings
