/apache-tomcat-5.5.31
/apache-tomcat-5.5.31-generated
/apache-james-2.3.2
/apache-maven-3.0.4
.project
/env.settings*
/ruby
/bin
/closure-templates-read-only
/closure-file
/closure-library-read-only
.classpath
.settings
.DS_Store
/build.local.properties
/target
